.social-links {
  margin-bottom: 5px;
  display: flex;
  gap: 10px;
  justify-content: start;
  list-style: none;

}

.social-links a {
  display: inline-block;
  color: black;
  font-size: 1.5rem;
}

@media (max-width: 880px) {
  .cont-social-links {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 440px) {
  .cont-social-links {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}